[core]
    editor = nvim

[user]
    name = elliotwils0n
    email = ewils0n@protonmail.ch
    signingkey = 0A847A0DCE78D601

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[alias]
    s = status

[init]
    defaultBranch = master

[includeIf "gitdir:~/projects/work/"]
    path = ~/projects/work/.gitconfig
