[core]
    editor = nvim

[user]
    name = elliotwils0n
    email = ewils0n@protonmail.ch
    signingkey = 6BC4AD5441FDFC01

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[alias]
    s = status
    lo = log --oneline --max-count 15

[init]
    defaultBranch = master

[includeIf "gitdir:~/projects/work/"]
    path = ~/projects/work/.gitconfig
